html {
  -webkit-box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  box-sizing: border-box!important;
padding:0;
margin:0;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
padding:0;
margin:0;
  } 

body{
    /*margin-left:3%!important;*/
    padding: 0px;
    background: #FFFFFF;
	margin:0;
}
.container {
    /*width: 632px;*/
    background-color: #FFFFFF!important;
	width:95%;
    padding:2%;
	margin:0 auto;
    height: auto;
}
.header {
    margin:0 auto;
    background-color: #DC0300; 
	padding-bottom:7px; 
}
.col-md-12.logoimg {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 100px;
}
    
.logo { 
    float: left;
    margin: 0;
    position: absolute;
	width:12%;
	padding-left:1%;
}

p.automated-stop-sign  {
    margin: 0 0 0px;
    padding: 0px;
    color: #FFFFFF;
    /*font-family: Arial;*/
	font-family: "Arial-BoldMT";
    /*font-size: 14px;*/
	font-size:18px;      
    text-align: center;
    letter-spacing: -0.02px;    
    line-height: 18px;  
}   

.chq-payable{
font-family: "Arial-BoldMT";
 color: #000000;
    font-size: 12px;
    line-height: 12px;
}

.footer-notice-info .title-violation
{
	font-family: "Arial-BoldMT";
}

.footer-notice-info td{
	font-family: "Arial";
}

p.village-of-great-neck {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family: Arial;
    /*font-size: 12px;*/
	font-size:14px;
    letter-spacing: 0.3px;
    line-height: 14px;
    text-align: center;
}
p.baker-hill-road {     
    margin: 0px;
    padding: 0px;   
    color: #FFFFFF; 
    font-family: Arial; 
    font-size: 11px; 
    letter-spacing: 0.2px;  
    line-height: 11px;  
    text-align: center;
	padding-bottom:8px;
}

p.video-url
{
	font-family:"Arial-BoldMT";
	line-height:11px;
	font-size:11px;
	text-align:center;
	margin:0;
	padding-bottom:8px;
	letter-spacing:0.2px;
	color:#ffffff;
	
}

.vio-details{
padidng:0;
margin:0;

}

.headerqrcode{
    margin: 0px;
    padding: 0px;
}

.notice-box .notice{
    margin-top:22px;
    padding: 3px!important;
    box-sizing: border-box;
    border: 2px solid #000000;
    margin-left: 0px;
}
.notice p {
    margin: 0px;
    padding: 0px;
    color: #000000;
    font-family: "Arial-BoldMT";
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 14px;
    white-space: nowrap;
}

.notice-box .notice span {
    width: 120px;
    display: inline-block;
}
.qr-code
{
    text-align: center;
    padding-top: 40px;
}

p.address {
   
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 10px;
}

p.scanqr {
    
    color: #000000;
    font-family: Arial;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    margin: 0 auto;
}
.name {
    margin-top: 23px;
    margin-left: 10px;
}

.you-must-pay{
    margin-top:2px!important;
    padding-left: 0px;
    text-align: right;

}
p.youmust {
    color: #DB0301;
    font-family: "Arial-BoldMT";
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 1px;
}
.finedate{
    background-color:rgba(153, 192, 233,0.6);
    text-align:center;
    padding:5px;
    margin-top:0px;
}
p.date-main {
    margin: 0px;
    padding: 0px;
    color: #000000; 
    font-family:"Arial-BoldMT";
    font-size: 24px;     
    letter-spacing: -0.21px;    
    line-height: 24px;
	padding-bottom:5px;
}
.finedate p.visit {
    margin: 0px;
    padding:0px; 
    color: #000000;
    font-family: "Arial-BoldMT";
    font-size: 12px;
    /*font-weight: bold;*/
    line-height: 12px;
}
.carddetails {
    color: #000000;
    font-family: "Arial-BoldMT";
    font-size: 12px;
	padding-top:5px;
    /*font-weight: bold;*/
    line-height: 12px;
    margin: 0 0 5px;
}

.creditcard-images{ margin-top:2px;}
.failure-to-stop {
    background-color: #DC0300!important;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 11px;
    line-height: 11px;
    padding: 4px 10px;

    
}
.title-violation1
{
    color: #000000;
    font-family:"Arial-BoldMT";
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 0px;
    text-align: center;
}
.violation-info {
    border: 2px solid #000000;
    margin-left: 2px!important;
    padding: 12px;
}

.vio-title{
	color: #000000;
    font-family:"Arial-BoldMT";
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 12px;
    margin-bottom: 19px;
}
.violation-info p {
    color: #000000;
    font-family: "Arial-BoldMT";
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 12px;
    margin-bottom: 24px;
}

span.count-of-violation-info-src {
    padding: 4px 0px;
    border-radius: 70%;
    width: 25px;
    font-size: 10px;
    background-color: #000000;
    color: #FFFFFF;
    margin-right: 6px;
    display: inline-block;
    text-align: center;
	font-family:Arial;
}

.paying-or-contesting span{
	font-family:"Arial-BoldMT";
}
.violation-info span.second-violation-info {
    
    color: #000000;
    font-family: "CreditCard";
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 11px;
}
.evidence p.info-about-evidence {
    margin-top: 10px;
    color: #000000;
    font-family: Arial;
    font-size: 11px;
    line-height: 10px;
    margin-bottom: 15px;
}
.points-to-assess {
    box-sizing: border-box!important;
    border: 2px solid #000000;
    padding: 16% 1% 17%!important;
    margin-left: 1%!important;
    
}
.eveidence
{
    position:relative;  /* This fixes the IE7 overflow hidden bug */
    clear:both;
    display: inline-block;
    width:100%;   
}
.eve-img 
{
    float:left;
    width:33.33%;         /* width of page */
    position:relative;

}

.vio-info{
width:33.33%;
float:left;
position:relative;
 /* no left and right padding on columns, we just make them narrower instead 
                only padding top and bottom is included here, make it whatever value you need */
}
.points-to-assess
{
  width:29%;
float:left;
position:relative;  
}
.evidence-info
{
    position:relative;  
    clear:both;
    display: inline-block;
    width:100%; 
}
.credit-cards
{
    padding-bottom:8px;
}
img.evidenceimg {
    /* max-width: 109%; */
    width: 100%!important;
}
.stub-notice p{
    color: #FFFFFF;
    font-family: Arial;
    font-size: 11px;
    letter-spacing: 0.8px;
    line-height: 11px;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 3px;
    background-color: #DC0300;
    padding-right: 30px;
}
.payment-options p {
    color: #000000;
    font-family: "ArialNarrow";
    font-size: 11px;
    line-height: 11px;
}

.payment-options span.pay-main{
font-family: "ArialNarrow-Bold";
}
 
 .due-date-fine-amount h3
 { color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.21px;
    line-height: 23px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 1px!important;
}
p.second-row-of-due-date span {
    color: #000000;
    font-family: "Arial-BoldMT";
    font-size: 13px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding-right: 8px;
}
.violations {
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 22px;
}
.violation-info-table
{
    width: 100%!important;
	font-family: Arial;
}

.title-violation{ font-family:Arial;}

.payable-check-info .main-chq {
    color: #000000;
    font-family: Arial;
    font-size: 11px;
    line-height: 11px;
}

.payable-check-info .main-chq1 {
    color: #000000;
    font-family: "Arial-BoldMT";
    font-size: 8px;
    line-height: 9px;
}

.padding-8 {
    padding-left: 5px!important;
   

}
.padding-0{
    padding: 0px;
}
.stub-notice, .stub{
    display: inline-block;
}
ul.more-info-about-notice li span {
    display: inline-block;
}
.padding-right0{
    padding-right: 0px;
}
.padding-left0{
    padding-left: 0px;
}


/*****************/
.footer-table th {
    
    color: #000000;
    font-family: Arial;
    font-size: 9px;
    font-weight: bold;
    line-height: 10px;
    padding-bottom: 4px;
    text-align: center;
}
.violations td,.footer-table td {
   
    color: #000000;
    /*font-family: Arial;*/
    font-size: 12px;
    /* font-weight: bold; */
    line-height: 12px;
    padding-right: 14px;
}

.violations td,.violations th,.footer-table td,.footer-table th
{
padding-left:1px!important;
    text-align: left;
}
.footer-table th,.footer-table td
{
    margin-right: 5px!important;
}

.violation-info p.view-images {
    
    color: #000000;
    font-family: Arial;
    font-size: 9px;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
    margin: 12px 6px 1px;
}
.violation-info p.steps-to-get-info {
    margin-top: 13px;
    margin-right: 4px;
}

.violation-info p.steps-to-get-info {
    color: #000000;
    font-family: Arial;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 10px;
    margin-bottom: 24px!important;
}

.third-step
{
    margin-top:24px!important;
}

.points-to-assess p.points-will-be-note {
    color: #000000;
    font-family: Arial;
    font-size: 11px;
    line-height: 11px;
}
.paying-or-contesting p {
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    line-height: 12px;
    padding-top: 5px;
    margin: 0 0 7px;
}
.stub-notice p.violation-stub {
    height: 16px;
    width: 209px;
    background-color: #DC0300;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 8px;
    letter-spacing: 0.8px;
    line-height: 9px;
    padding-top: 4px;
    padding-left: 6px;
    padding-bottom: 3px;
    /* padding-right: 30px; */
}



.stub p.stub-no {
    color: #000000;
    font-family: "CreditCard";
    font-size: 10px;
    /*font-weight: 800;*/
    margin-left: 51px;
    letter-spacing: 1.55px;
    line-height: 10px;
}

.col-md-4.notice-date-info p {
   
}
.notice-date-info p {
     height: 11px;
    /* width: 52.59px; */
    color: #000000;
    font-family: Arial;
    font-size: 9px;
    font-weight: bold;
    line-height: 11px;
}
ul.more-info-about-notice li {
    
    color: #000000;
    font-family: "Arial-BoldMT";
    font-size: 12px;
    /*font-weight: bold;*/
    line-height: 12px;
}
.Date-notice {
    background-color: #FFF;
    width: 31%;
	font-family:"Arial-BoldMT";
}
.noticeDate, .noticeDate2 {
    display: block;
    background-color: #F3CBCB;
    margin-left: 0px!important;
    letter-spacing: 1.2px;
	font-family:Arial;
}
span.noticeDate, .noticeDate2 {
    padding-top: 3px;
    padding-left: 9px;
    width: 60%;
}
img.arrow {
    float: right;
        margin-top: 2%;
}
.payable-to p.make-payment {
    height: 9px;
    width: 165px;
    color: #000000;
    font-family: Arial;
    font-size: 8px;
    line-height: 9px;
        margin-bottom: 5px!important;
    }
  .payable-to  p.Villagename {
    height: 9px;
    width: 104px;
    color: #000000;
    font-family: Arial;
    font-size: 8px;
    font-weight: bold;
    line-height: 9px;
}
  .payable-to p.post-address1 {
 

    color: #000000;
    font-family: Arial;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
    margin-bottom: 3px;
}
.payable-to p.great-neck {
   
    color: #000000;
    font-family: Arial;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}
p.second-row-of-due-date {
    margin-bottom: 5px!important;
}

.p.pay-by-circle span{ width:200px; float:right;}

.various-payment-methods p.pay-by-circle {
    color: #000000;
    font-family: "ArialNarrow-Bold";
    font-size: 13px;
    /*font-weight: bold;*/
    line-height: 14px;
    text-align: right;
	margin:0;
	padding:0;
}

.Date-notice1{
font-family:"Arial";
}

.noticeDate{
font-family:"Arial-BoldMT";
}
.various-payment-methods p.in-person {
    color: #000000;
    font-family: "ArialNarrow-Bold";
    font-size: 13px;
    line-height: 13px;
    padding-top: 15px;
    letter-spacing:0.5;
}
/*.various-payment-methods p.in-person span {
    //display: inline-block;
    //float: left;
}*/
.various-payment-methods span.right-arrow-image {
    padding-right: 4px;
    padding-left:0px;
}

.various-payment-methods span.right-arrow-image2 {
    padding-left: 2px;
}
.due-date-section p.total-amount-due {
    background-color: #DC0300;
    font-family: Arial;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    color: #fff;
    /* padding-left: 3px; */
    /* padding-top: 2px; */
    padding: 2px 3px 2px 3px;
}
.main-div-of-notice-info ul.more-info-about-notice {
    padding-left: 16px!important;
}
.main-div-of-notice-info ul.more-info-about-notice li {
    list-style-type: none;
}
.col-md-4.due-date-section {
    margin-top: -9px;
}

.col-md-4.due-date-section {
    text-align: center;
}
.due-date-fine-amount span.feb {
    color: #000000;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.15px;
    line-height: 11px;
    margin-left: 10px;
}
.due-date-fine-amount span.due-date-text {
    color: #000000;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.15px;
    line-height: 11px;
}
.due-date-fine-amount {
    border: 1px solid #000000;
    margin-top: -5px;
}

.newdate3{
	font-family:"Arial-BoldMT";
}

.price-bottom{
	color: #000000;
    font-family: "Arial-BoldMT";
    font-size: 24px;
    letter-spacing: -0.21px;
    line-height: 24px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0px;
}

.notice-date-info span.noticeDate {
    color: #000000;
    font-family: Arial;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 10px;
}
table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding-top: 3px!important;
    padding-right: 0px!important;
    line-height: 1.42857143;
    padding-left: 0px!important;
    vertical-align: top;
    border-top: none!important;

}

.third-section-of-footer.row {
    padding-top: 8px;
}
.col-md-4.payable-check-info {
    padding-top: 7px!important;
}
.col-md-8.payment-intructions p {
    color: #000000;
    font-family: "Arial-BoldMT";
    font-size: 13px;
    letter-spacing: 0.22px;
    line-height: 13px;
   
}
.col-md-8.payment-intructions {
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
::i-block-chrome,.right-arrow-image2
    {
        margin-top: -20px;
        margin-left: 80%;
    }
}
.failure {
    background-color: #DC0300!important;
    color: #FFFFFF;
    font-family: "Arial-BoldMT";
    font-size: 10px;
    /*font-weight: bold;*/
    line-height: 10px;
    padding: 4px 10px;
	letter-spacing:0.1px;
    clear: both;
    display: block;
    width: 100%;
    position: relative;

    
}


/******************************for pdf ***********************************************/
.headerqrcode{
position:relative;  /* This fixes the IE7 overflow hidden bug */
clear:both;
display: inline-block;
width:100%;          /* width of whole page */

}
.notice-box
 {
float:left;
width:33.33%;       /* width of page */
position:relative;
}
.qr-code
{
    float:left;
    width:33.33%;         /* width of page */
    position:relative;

}

.you-must-pay {
width:33.33%;
float:left;
position:relative;

}

.stubBymail
{
        position:relative;  /* This fixes the IE7 overflow hidden bug */
        clear:both;
        display: inline-block;
        width:100%; 
}
.parent-of-stub-notice
{
        float:left;
        width: 66.66666667%!important;      /* width of page */
        position:relative;
}

.stub-notice
{
        width:33.33%!important;
        position:relative;  /* This fixes the IE7 overflow hidden bug */
        
}
.stub
{
        width:33.33%!important;
        position:relative;  /* This fixes the IE7 overflow hidden bug */
        
}
/********************************************************************/
